
@font-face {
    font-family: 'gora_free';
    src: url('/Afrodita/fonts/gora-free-webfont.woff2') format('woff2'),
         url('/Afrodita/fonts/gora-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('/Afrodita/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/Afrodita/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('/Afrodita/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/Afrodita/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('/Afrodita/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/Afrodita/fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: optional;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }


/* Header */

.main-header {
    margin-bottom: 75px;
    background-color: #000000;
}

.logotype {
    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.logo-text {
    font-family: 'gora_free';
    color: #f89513;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff; 
}

.main-navigation {
    font-family: 'open_sansbold';
    font-size: 14px;
    line-height: 20px; 
    text-transform: uppercase;
    width: 380px;
    margin-top: 33px;
    margin-bottom: 30px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    margin: 0;
    padding: 0;
}   

.site-navigation span {
    margin-left: 15px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #f89513;
}

.site-navigation svg:focus,
.site-navigation svg:hover {
    fill: #f89513;
}

.contacts {
    width: 160px;
    margin-top: 20px;
    margin-right: 20px;
}

.contacts p {
    font-family: 'open_sansbold';
    font-size: 21px;
    color: #ffffff;

    margin: 0;
    padding: 0;
}

.contacts a {
    font-family: 'open_sansbold';
    text-decoration: underline;
    color: #f89513;
    font-size: 14px;
    margin-left: 46px;
}

.main-nav-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-nav-wrapper .container {
    display: flex;
    justify-content: space-between;
}

/* .main-header-nav {
    display: flex;
    flex-direction: column;
} */

.fig {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Features */
.black-bg {
    background-color: #000000;
} 

.black-bg h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'open_sansbold';
    font-size: 49px;
    text-transform: uppercase;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0;
    letter-spacing: 2.6px;
}

.features-list {
    margin: 0;
    padding: 0;
    width: 350px;
}

.feature-list-wrapper {
    display: flex;
    justify-content: space-between;


    text-align: center;
    color: #ffffff;
    list-style: none;
    padding-bottom: 84px;

    margin-left: 150px;
    margin-right: 150px;
}

.features-circle {
    width: 70px;
    height: 70px;

    background-color: #f89513;
    border-radius: 50%;
    margin: 0 auto;
}


.features-circle__unique {
    background-image: url(/Afrodita/img/flower.png);
    background-position: center;
    background-repeat: no-repeat;
}

.features-circle__vip {
    background-image: url(/Afrodita/img/mark-as-favorite-star.png);
    background-position: center;
    background-repeat: no-repeat;
}

.features-circle__trainer {
    background-image: url(/Afrodita/img/painter-palette.png);
    background-position: center;
    background-repeat: no-repeat;
}

.feature-list__header {
    margin-top: 40px;
    font-weight: 900;
    font-size: 10.78px;
    letter-spacing: 3px;
    margin-left: 6px;
    text-transform: uppercase;
}

.feature-list-desc {
    font-family: 'open_sanslight';
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.feature-item {
    font-family: 'open_sanslight';
    font-size: 16px;
    line-height: 2.2;
    letter-spacing: 1.3px;
    text-align: left; 
}



/* Блок новости */

.index-columns {
    display: flex;
    justify-content: space-between;
}

.news h2 {
    text-align: center;
    font-family: 'open_sansbold';
    font-size: 49px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}

.last-news {
    width: 900px;
    padding: 0;
    margin: 0;
}

.last-news__list {
    padding: 0;
    margin: 0;
}

.last-news__item {
    list-style: none;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 35px;
}

.last-news__item:last-child {
    border-bottom: none;
}

.news-block__img {
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 15px;
}



.news-block__text {
    display: inline-block;
    width: 680px;
    margin: 0;
    margin-left: 20px;
    vertical-align: bottom;
    margin-bottom: 19px;
}

.news-block__text p {
    font-size: 18px;
}

.news-block__heading {
    font-family: Roboto;
    font-weight: bold;

    margin: 0;
    padding: 0;
    margin-top: 10px;
}

time {
    font-size: 14px;
}

.top-news {
    width: 160px;
}

.top-news h3 {
    text-transform: uppercase;
    margin: 0;
}

.top-news p {
    text-transform: uppercase;
    color: #656464;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 24px;
    margin-top:10px;
}

.top-news img {
    margin-bottom: 20px;
}


.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.pagination-item_list {
    color: #6f6e6e;
    margin-right: 20px;
}

.pagination-item a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-left: 18px;
}

.pagination-item-current {
    width: 25px;
    height: 25px;

    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    margin-left: 20px;

    border-radius: 5px;
    background-color: #27273e;
}

.pagination-item a:hover,
.pagination-item a:focus {
    color: #f9ad5f;
}

.pagination-item-current:hover,
.pagination-item-current:focus {
    background-color: #000000;
    color: #f9ad5f;
}

.pagination-item:nth-child(9) {
    margin-right: 20px;
}


/* Footer */

.main-footer {
    margin-top: 65px;
    background-color:#000000;
}

.main-footer-wrapper {
    width: 100%;
    background-color: black;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    width: 290px;
    margin: 0;  
    color: #ffffff 
}

.footer-contacts a {
    font-weight: bold;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    color: #f89513;
}

.footer-contacts p {
    font-family: 'open_sanslight';
    font-size: 14px;
}

.footer-logo {
    width: 200px;
    font-family: 'gora_free';
    color: #f89513;
    font-size: 18px;
    margin: 0;  
}

.footer-social {
    width: 195px;
    margin: 0;
    color: #ffffff;
}

.footer-social p {
    font-family: 'open_sansbold';
    font-size: 14px;
    text-transform: uppercase;
   
    margin-top: 17px;
    margin-bottom: 10px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 20px;
    height: 20px;

    background-color: #d0d0d0;

    margin-right: 10px;
    margin-bottom: 14px;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #f89513;
}

/* Comments paage */

.wrapper-info {
    width: 1100px;
    height: 176px;

    background-image: url(/Afrodita/img/bakground.info.png);
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-info p {
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 30px;
    margin-top: 50px;
}

.wrapper-info a {
    color: #f89513;
    font-weight: bold;
}

.avatar-place {
    width: 160px;
    height: 160px;
    background-color: #f5f5f5;
    border-radius: 50%;

    background-image: url(/Afrodita/img/feedback3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.feedback-wrapper {
    margin-left: 108px;
    margin-right: 108px;
}

.news-block-img2 {
    margin-bottom: 39px;
}

.feedback-header {
    font-size: 49px;
    font-family: 'open_sansbold';
    margin-top: 18px;
    margin-left: 110px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.breadcrumbs {
    display: flex;
    
    width: 135px;
    padding: 0;
    margin-left: 110px;
}

.breadcrumbs li {
    list-style: none;
    font-family: 'open_sanslight_italic';
}

.breadcrumbs__list-link {
    color: #f9aa42;
    text-decoration: underline;
}

.breadcrumbs__list::after {
    content: "/";
    color: #666464;
    opacity: .8;
    font-family: 'open_sanslight_italic';
    margin-left: 5px;
}

.breadcrumbs__list-active {
    text-decoration: none;
    color: #666464;
    margin-left: 5px;
}

/* Form */

.form__comments {
    max-width: 561px;
    border-radius: 3px;
    background: #f5f5f5;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    font-family: open_sanslight;
    padding: 42px 70px 50px 70px; 
}

.form__title {
    font-size: 49px;
    font-family: 'open_sansbold';
}


.form__input--field {
    width: 270px;
    height: 45px; 
    border: none;
    border-radius: 3px;
    outline: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.form__input {
    display: inline-block;
    margin-top: 16px;
}

.form__input--field {
    box-sizing: border-box;
}

.form__input--field:focus {
    border: 0.5px solid #f9aa42;
}

.form__input--message:focus {
    border: 0.5px solid #f9aa42;
}

.form__input:first-child {
    margin-right: 16px;
}

.form__inputs {
    margin-bottom: 18px;
}

.form__input--signature {
    display: block;
    font-weight: 600;
    color: #3f3d3d;
    margin-bottom: 6px;
}

.form__input--message {
    width: 560px;
    height: 90px;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 10px;
    letter-spacing: .3px;
    resize: none;
    color: #221f1f;
}

.form-input {
    display: inline-block;
    margin-top: 16px;
}

.radiobutton__radio--label {
    margin-bottom: 9px;
}

.radiobutton__radio {
    display: inline-block;
}

.radiobutton__button {
    display: inline-block;
    float: right;
    margin-top: 18px;
}

.button {
    width: 125px;
    height: 45px;
    color: white;
    background: #1c1f1d;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.button:hover,
.button:focus {
    background-color: #f9aa42;
    cursor: pointer;
}

.label--radio {
    cursor: pointer;
    display: inline-block;
}

.radio {
    width: 20px;
    height: 20px;
    color: red;
    background: red;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}



.radio:checked ~ .radio__text {
    color: #f89513;
}

.label--radio:last-child {
    margin-left: 18px;
}

.radio__styles {
    background: url(/Afrodita/img/Ellipse2.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 4px;
}

.radio:checked ~ .radio__styles {
    background: url(/Afrodita/img/Ellipse3.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 4px;
}


.radio__text {
    display: inline-block;
    vertical-align: 4px;
}

.form__radiobutton {
display: flex;
justify-content: space-between;
}

/* Services page */

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
}

.services-item {
    width: 250px;
}

.services-item p {
    font-family: open_sanslight;
    font-size: 14.02px;
    line-height: 20px;
    color: #bcbcbc;

    margin-bottom: 50px;
}

.services-item h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.services-header {
    font-size: 49px;
    font-family: 'open_sansbold';
    margin-top: 18px;
    margin-left: 110px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.partners-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
}

.partners-item {
    display: flex;
    align-items: center;
    width:250px;
    height: 100px;
    margin-bottom: 40px;
}

.parners-logo {
    display: block;
    margin: 0 auto;
}

.flamingo-black {
    background-image: url(/Afrodita/img/flamingo-black.png);
    background-position: center;
    background-repeat: no-repeat;
}


.flamingo-black:hover,
.flamingo-black:focus {
    background-image: url(/Afrodita/img/flamingo.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.malibu-black {
    background-image: url(/Afrodita/img/malibu-black.png);
    background-position: center;
    background-repeat: no-repeat;
}

.malibu-black:hover,
.malibu-black:focus {
    background-image: url(/Afrodita/img/malibu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.lion-black {
    background-image: url(/Afrodita/img/lion-black.png);
    background-position: center;
    background-repeat: no-repeat;
}

.lion-black:hover,
.lion-black:focus {
    background-image: url(/Afrodita/img/lion.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.arni-black {
    background-image: url(/Afrodita/img/arni-black.png);
    background-position: center;
    background-repeat: no-repeat;
}

.arni-black:hover,
.arni-black:focus {
    background-image: url(/Afrodita/img/arni.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.grif-black {
    background-image: url(/Afrodita/img/grif-black.png);
    background-position: center;
    background-repeat: no-repeat;
}

.grif-black:hover,
.grif-black:focus {
    background-image: url(/Afrodita/img/grif.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.atletiko-black {
    background-image: url(/Afrodita/img/atletiko-black.png);
    background-position: center;
    background-repeat: no-repeat;
}

.atletiko-black:hover,
.atletiko-black:focus {
    background-image: url(/Afrodita/img/atletiko.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#bg_popup{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(/Afrodita/img/gym.png);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
      
    #popup {
    background-image: url(/Afrodita/img/big-logo.png);
    background-position: center;
    background-repeat:no-repeat;
    margin: 0 auto;
    margin-top: 160px;
    padding: 5px 20px 13px 20px;
    
    position: relative;
    width: 210px;
    height: 300px;
    vertical-align: middle;
    text-align: center;
    }
      
    .close{
    display:block;
    position:absolute;

    width: 170px;
    height: 46px;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 46px;
    margin: 0 auto;
    left: 40px;
    top: 270px;

    color:#fff;
    background:#f89513;
    cursor:pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
   
    }
    .close:hover {
    background-color:#131415;
    } 